<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wenberg Transfer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- Header Section -->
    <section id="header-section">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg">
        <div class="navbar-nav me-auto">
          <a class="nav-link" href="#our-history">OUR HISTORY</a>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="#contact">CONTACT</a>
        </div>
      </nav>

      <div id="logo-elipse" class="elipse">
        <img
          id="logo"
          src="/assets/logos/L1-Anniversary-White.png"
          alt="Wenberg Transfer Logo"
        />
      </div>

      <!-- Banner -->
      <div class="header">
        <img src="/assets/banner/Banner-1.jpg" alt="Wenberg Transfer Banner" />
      </div>

      <div class="header-bottom-bar-container">
        <h2>A FAMILY OWNED BUSINESS</h2>
      </div>
    </section>

    <!-- Important People Section -->
    <section id="important-people-section">
      <div class="container marketing important-people-container">
        <div class="row text-center">
          <div class="col-sm-3 important-person">
            <img
              src="/assets/portrait/Sigurd-Profile.jpg"
              class="rounded-circle mb-3"
              alt="Sigurd Wenberg"
            />
            <h2 class="name">Sigurd Wenberg</h2>
            <!-- <p class="personal-info">Founder and early visionary who started with horses.</p> -->
          </div>
          <!-- /.col-lg-3 -->

          <!-- First Arrow -->
          <div class="arrow-container-1">
            <img src="/assets/images/arrow-1.svg" alt="Arrow" class="arrow" />
          </div>

          <div class="col-sm-3 important-person">
            <img
              src="/assets/portrait/John-L-Profile-2.jpg"
              class="rounded-circle mb-3"
              alt="John L. Wenberg"
            />
            <h2 class="name">John L. Wenberg</h2>
          </div>
          <!-- /.col-lg-3 -->

          <!-- Second Arrow -->
          <div class="arrow-container-2">
            <img src="/assets/images/arrow-1.svg" alt="Arrow" class="arrow" />
          </div>

          <div class="col-sm-3 important-person">
            <img
              src="/assets/portrait/John-S-Profile-2.jpg"
              class="rounded-circle mb-3"
              alt="John S. Wenberg"
            />
            <h2 class="name">John S. Wenberg</h2>
          </div>
          <!-- /.col-lg-3 -->

          <!-- Third Arrow -->
          <div class="arrow-container-3">
            <img src="/assets/images/arrow-1.svg" alt="Arrow" class="arrow" />
          </div>

          <!-- Correct Clayton Image -->

          <div class="col-sm-3 important-person">
            <img
              src="/assets/portrait/Clayton-Profile-2.jpg"
              class="rounded-circle mb-3"
              alt="Clayton Wenberg"
            />
            <h2 class="name">Clayton Wenberg</h2>
          </div>
          <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->

        <div class="row text-center mt-5">
          <div class="col-sm-3 important-person">
            <img
              src="/assets/portrait/Sarah-Profile.jpg"
              class="rounded-circle mb-3"
              alt="Sarah Wenberg"
            />
            <h2 class="name">Sarah Wenberg</h2>
            <!-- <p class="personal-info">Founder and early visionary who started with horses.</p> -->
          </div>
          <!-- /.col-lg-3 -->

          <!-- Fourth Arrow -->
          <div class="arrow-container-1">
            <img src="/assets/images/arrow-1.svg" alt="Arrow" class="arrow" />
          </div>

          <div class="col-sm-3 important-person">
            <img
              src="/assets/portrait/Betty-Profile.jpg"
              class="rounded-circle mb-3"
              alt="Betty Wenberg"
            />
            <h2 class="name">Betty Wenberg</h2>
          </div>
          <!-- /.col-lg-3 -->

          <!-- Fifth Arrow -->
          <div class="arrow-container-2">
            <img src="/assets/images/arrow-1.svg" alt="Arrow" class="arrow" />
          </div>

          <div class="col-sm-3 important-person">
            <img
              src="/assets/portrait/Pam-Profile.jpg"
              class="rounded-circle mb-3"
              alt="Pam Wenberg"
            />
            <h2 class="name">Pam Wenberg</h2>
          </div>
          <!-- /.col-lg-3 -->

          <!-- Sixth Arrow -->
          <div class="arrow-container-3">
            <img src="/assets/images/arrow-1.svg" alt="Arrow" class="arrow" />
          </div>

          <div class="col-sm-3 important-person">
            <img
              src="/assets/portrait/Dena-Profile.jpg"
              class="rounded-circle mb-3"
              alt="Dena Wenberg"
            />
            <h2 class="name">Dena Wenberg</h2>
          </div>
          <!-- /.col-lg-3 -->
        </div>
      </div>
    </section>

    <!-- Our History Section Section -->
    <section id="our-history">
      <div class="section-divider">
        <h2>A Century of Service</h2>
        <img
          src="/assets/images/truck-with-background-1.png"
          class="truck-image"
          alt="Century of Service"
        />
      </div>
      <div class="mx-5 mt-5">
        <div class="row featurette">
          <div class="col-md-7 mb-0">
            <h2 class="featurette-heading lh-1">Humble Beginnings</h2>
            <p class="lead">
              In 1910, Sigurd “Sig” Wenberg moved to International Falls to start working at the family grocery store. In 1915, Sig married Sarah Horgan of Warren, Minnesota, and in 1924, Sig decided to start a business of his own. Wenberg Transfer was born when he began hauling firewood and ice with a team of horses and a flatbed wagon. The company’s office started in Sig and Sarah’s home at 601 8th  Street in International Falls, where it remained until the Wenberg Transfer Warehouse was built in 1972 on Hwy 332. While Sig founded the company, Sarah Wenberg played an integral role, handling orders, answering the phone, and managing payroll for the employees. Outside of the business, the couple raised five children, Lois, Dorothy, Meryl, Libby, and John and was active in the Zion Lutheran Church.
            </p>
            <p class="lead">
              By the late 1920s and early 1930s, Wenberg Transfer had transitioned from horses and wagons to early trucks, expanding operations to haul local household goods and eventually delivering mail from the train station, a service the company provided until the late 1960s.
            </p>
            <p class="lead">
              The 1930s saw further expansion, when  Wenberg Transfer also began to ship goods out of town. In the 1940s, the company gained the authority to operate across six states, allowing it to offer household moving services alongside its freight operations.
            </p>
            <p class="lead">
              During this era of Wenberg Transfer history, Sig and his family were making an impact in the International Falls community by providing the much-needed services of a moving company. They also had many friends and family around them.  Several of their daughters and John L. continued to make International Falls their home to raise their own families. 
            </p>
          </div>
          <div class="col-md-5">
            <div
              id="carousel1"
              class="carousel slide outer-featurette-carousel"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner featurette-carousel">
                <% carousel1Images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img
                    src="/assets/feature/featureCarousel1/<%= image %>"
                    class="d-block w-100 feature"
                    alt="Feature image"
                  />
                </div>
                <% }) %>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel1"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carousel1"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <div class="quote-and-image-box">
          <img
            id="quote-image-1"
            src="/assets/images/horses-1.png"
            alt="Horses"
          />
          <div class="quote-box my-5">
            <p class="quote">
              “My dad, who lived to age 102, knew Sigurd. He told me the stories
              of Sig delivering ice to a site across from Northern Lumber. He
              delivered the ice with his team of horses pulling a flat bed
              wagon. Sig enjoyed talking to people in the community and was
              known as a gem of a guy.”
            </p>
            <p class="quote" style="font-weight: 700; text-align: right">
              Randy Shoberg - Employee
            </p>
          </div>
        </div>

        <hr class="featurette-divider mt-0" />

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading lh-1">Mid-Century Growth</h2>
            <p class="lead">
              In 1938, Sigurd’s son, John L. Wenberg, joined the family business. From 1938-1941, he was contracted by the Biondich logging camp. With them, John L. spent his winters hauling pulpwood for the Minnesota and Ontario Paper Company and his summers moving household goods between the train and local businesses. In 1941, John L. went to serve in World War II as a truck driver. He was stationed in New Guinea for most of his deployment. During his absence, Sixton Lindberg and Walt Mahle were hired to assist Sig with operations. Sixton was hired as an over-the-road truck driver, and Walt was hired to deliver the mail, reliably providing that service for nearly three decades. 
            </p>
            <p class="lead">
              In 1943, while on leave from the war, John L. married Betty Thompson. Betty would later play a significant role in the company, serving as the financial secretary from 1962 to 1986. Throughout her tenure, she managed the company’s finances, supporting the growing business while raising their three children—Jane, John, and Candy. Betty and John L. were also active members of the Zion Lutheran Church, balancing their community involvement with their responsibilities at Wenberg Transfer.
            </p>
            <p class="lead">
              In 1945, John L. returned to Wenberg Transfer to work alongside his father once again. Over time, John L. helped expand the company’s operations, transitioning from straight trucks to semi-trucks.  He officially took over the company when Sig and Sarah retired from Wenberg Transfer in the late 1950s. Sarah passed away in 1959 at the age of 68, and Sig died in 1962 at the age of 72.
            </p>
            <p class="lead">
              From the 40s to the late 70s, with the steady guidance of John L., Wenberg Transfer expertly packed and moved countless households from International Falls to places all over their six-state region, driving through all weather conditions for close to a million miles without any accidents.
            </p>
            <p class="lead">
              During the 1960s, Wenberg Transfer added to its services by becoming an authorized agent for Ace Lines, hauling loads of insulite to North Dakota and South Dakota, a partnership that lasted until 1982. 
            </p>
            <p class="lead">
              During this era of Wenberg Transfer history, the company saw growth in all aspects of the company.  An increase in the number of employees, the number of trucks, the expanded area of hauling goods, and the increased number of contracts with other companies paved the way for years of continued service to the businesses and community of International Falls.  
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <div
              id="carousel2"
              class="carousel slide outer-featurette-carousel"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner featurette-carousel">
                <% carousel2Images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img
                    src="/assets/feature/featureCarousel2/<%= image %>"
                    class="d-block w-100 feature"
                    alt="Feature image"
                  />
                </div>
                <% }) %>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel2"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carousel2"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <div class="quote-and-image-box">
          <div class="quote-box my-5">
            <p class="quote">
              "My dad could pack a truck with the best of them. Always took
              pride in his work and loved the trucking company. He also loved
              watching sports. We would drive down to the state hockey
              tournaments as a family in the late 50’s and early 60’s.  Great
              memories.”
            </p>
            <p class="quote" style="font-weight: 700; text-align: right">
              John Wenberg - Owner
            </p>
          </div>
          <img
            id="quote-image-2"
            src="/assets/images/logging-truck-1.png"
            alt="Logging Truck"
          />
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading lh-1">
              Late-Century Churnin' and Burnin'
            </h2>
            <p class="lead">
              The 1970s and 1980s were decades of significant change for Wenberg Transfer. John S. Wenberg, John L. and Betty’s son, officially joined the business in 1967. During his college breaks and summers, John S. helped with moving jobs and worked as an over-the-road driver. In 1968, he married Pam Woods, and shortly after, they started their family. Over the years, their children—Jody, Jennifer, and Clayton—accompanied their dad on trips in the "big truck," enjoying time on the road to and from Minneapolis. 
            </p>
            <p class="lead">
              John S. officially partnered with his father to run the business in 1972 and the company built a brand-new warehouse, allowing them to move from the home office at 601 8th Street in International Falls to their current location on Highway 332. 
            </p>
            <p class="lead">
              In 1974, the company secured a contract to haul paper loads to Minneapolis, further expanding its operations. In 1977, Wenberg Transfer landed a switching contract with Boise Cascade, which involved spotting trailers into the Boise docks for various trucking companies hauling paper out of International Falls—a contract Wenberg Transfer still holds today. 
            </p>
            <p class="lead">
              In 1978, after 40 years in the moving business, Wenberg Transfer decided to exit the household goods moving sector. Over those four decades, the company had been an agent for Lyon Lines, Wheaton Lines, and Atlas Van Lines, facilitating countless moves. This decision allowed the company to focus more on three core aspects of its business: paper hauling, trailer switching, and LTL (Less Than Truck Load) hauling.
            </p>
            <p class="lead">
              In 1984, disaster struck when an electrical fire engulfed the Wenberg Transfer warehouse, destroying it and its contents. Fortunately, there were no injuries, but the loss was substantial. During this difficult time, Al Shannon of Shannon's Plumbing and Heating kindly offered the use of one of their storage buildings to house Wenberg Transfer's operations while they rebuilt. The new warehouse was completed in 1986 and remains the maintenance and storage hub for the company's trucks to this day.
            </p>
            <p class="lead">
              Pam and John S. became sole owners of the company in 1986, upon the retirements of John L. and Betty Wenberg. Pam took over the financial responsibilities of the company, while John focused on managing the hauling and switching contracts. Betty and John L. continued to be active members in the community upon their retirement and both passed away in 2013 at the ages of 88 and 93, respectively.
            </p>
          </div>
          <div class="col-md-5">
            <div
              id="carousel3"
              class="carousel slide outer-featurette-carousel"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner featurette-carousel">
                <% carousel3Images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img
                    src="/assets/feature/featureCarousel3/<%= image %>"
                    class="d-block w-100 feature"
                    alt="Feature image"
                  />
                </div>
                <% }) %>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel3"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carousel3"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <div class="quote-and-image-box">
          <img
            id="quote-image-3"
            src="/assets/images/seventies-truck-1.png"
            alt="Horses"
          />
          <div class="quote-box my-5">
            <p class="quote">
              “The Wenberg women have been amazing role models. Sarah, Betty,
              Pam and Dena have been instrumental in helping the company grow
              and thrive. I appreciate them so much knowing what it takes behind
              the scenes to run a company!”
            </p>
            <p class="quote" style="font-weight: 700; text-align: right">
              Jody Youso - Employee
            </p>
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading lh-1">Present-Day Persistence</h2>
            <p class="lead">
              The 1990s saw continued growth for the company as John S. and Pam’s son, Clayton Wenberg, joined in 1991. Clayton accompanied John S. on paper-hauling trips to Minneapolis and learned the switching aspect of the business firsthand. In 1999, Clayton married Dena Budde, and together they joined John S. and Pam in handling the day-to-day operations of the company. Clayton and Dena have one daughter, Kenzie.  
            </p>
            <p class="lead">
              In 2012, Wenberg Transfer discontinued hauling LTL freight to focus solely on paper loads and the switching operation. LTL had been a cornerstone of the company, hauling everything from firewood and ice in the 1920s to liquor, Old Dutch Chips, appliances, boat motors, flooring, and countless other household goods in the 2000s. Today, the switching business remains in full force, alongside paper loads being hauled to the Twin Cities. Backhauls include cartons to wrap the paper, Cargill Salt, and talc from Lake Superior Warehouse in Duluth.
            </p>
            <p class="lead">
              In 2022, John S. and Pam’s daughter Jody (Wenberg) Youso joined the company to assist Pam with payroll and accounts receivable. That same year, Pam retired at age 72 after decades of dedication. John S. continues to manage certain aspects of the business, though he occasionally mentions the possibility of retirement.
            </p>
            <p class="lead">
              Throughout the years, John and Pam have been firm believers in supporting athletic and community causes. Their contributions to their children’s and grandchildren’s athletic endeavors have been extensive, as has their continued support for various nonprofit associations in International Falls.
            </p>
            <p class="lead">
              To this day, Wenberg Transfer has hauled over 40,000 loads of paper and driven more than 24,000,000 miles. The mill they serve began as the Minnesota and Ontario Paper Company, then became Boise Cascade, and is now known as the Packaging Corporation of America. Wenberg Transfer currently employs 4 OTR (Over-the-Road) drivers, 4 spotters, and one mechanic, working alongside the office staff to ensure smooth operations. This dedicated team continues the Wenberg tradition of excellence, with a focus on adapting to the evolving needs of their clients and community.
            </p>
            <p class="lead">
              Over the decades, long-standing employees with the company such as Gerald Helderman (1950s-1960s), Bob Major (1950s-1960s), Gene Aklestad (1960s-1970s), Howard Hauge (1970s-1990s), Jim Olson (1970s-2000s), Roger Frank (1980s-2010s), Ron Pautz (1980s-2000s), Fred Woods (1980s-present), Ed Kopic (1990s-2000s), John Wilson (1990s-2000s), and Randy Shoberg (2000s-present) helped maintain the company’s standard of excellence. These individuals were integral to Wenberg Transfer's operations, ensuring the company’s longevity through their commitment and expertise.
            </p>
            <p class="lead">
              As Wenberg Transfer celebrates 100 years in business, the Wenberg family would like to take a moment to express their gratitude for your continued trust and support over the years. Since 1924, Wenberg Transfer has been a proud, family-owned business, built on the values of hard work, reliability, and community. From humble beginnings to where we are today, Wenberg Transfer has grown and adapted while staying true to the standards set by the founders and upheld by generations of dedicated family members and employees. As we look to the future, we promise to honor this legacy and continue providing the quality service you’ve come to expect. Thank you for being a part of our journey—we look forward to serving you for many more years to come.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <div
              id="carousel4"
              class="carousel slide outer-featurette-carousel"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner featurette-carousel">
                <% carousel4Images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img
                    src="/assets/feature/featureCarousel4/<%= image %>"
                    class="d-block w-100 feature"
                    alt="Feature image"
                  />
                </div>
                <% }) %>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel4"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carousel4"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="quote-and-image-box">
        <div class="quote-box my-5" style="margin-left: 50px">
          <p class="quote">
            “My grandparents have always been the most hardworking and
            kind-hearted people I know, and it shows in everything they do.
            They’ve spent a lifetime driving success (literally) at Wenberg
            Transfer, but still somehow managed to show up to every one of my
            athletic events, rain or shine no matter the distance. Their work
            ethic is unmatched, but it’s their warmth and constant support
            that’s truly special. Whether it’s running a business or running the
            family, they always keep things together with big hugs and hearts
            full of love.”
          </p>
          <p class="quote" style="font-weight: 700; text-align: right">
            Jessa Youso - Grandaughter of John and Pam Wenberg
          </p>
        </div>
        <img
          id="quote-image-4"
          src="/assets/images/Quote-Truck-2-light.png"
          alt="Modern Truck"
        />
      </div>
    </section>

    <!-- Current Employees Section -->
    <section id="current-employees-section">
      <div id="current-employees-box">
        <h2 id="current-employees-title" class="text-center">
          Current Employees
        </h2>
      </div>

      <div class="mx-5 mt-5">
        <div class="row text-center">
          <div class="col-6 col-md-3 mb-4">
            <img
              src="/assets/employees/Brian.jpg"
              class="employee-img mb-3"
              alt="Employee 1"
            />
            <h4 class="employee-name">Brian U.</h4>
            <p class="employee-title">Local Trailer Spotter</p>
          </div>

          <div class="col-6 col-md-3 mb-4">
            <img
              src="/assets/employees/Clayton-and-Dena.jpg"
              class="employee-img mb-3"
              alt="Employee 2"
            />
            <h4 class="employee-name">Clayton and Dena</h4>
            <p class="employee-title">Owners</p>
          </div>

          <div class="col-6 col-md-3 mb-4">
            <img
              src="/assets/employees/Dave.jpg"
              class="employee-img mb-3"
              alt="Employee 3"
            />
            <h4 class="employee-name">Dave Hammond</h4>
            <p class="employee-title">MN OTR Driver</p>
          </div>

          <div class="col-6 col-md-3 mb-4">
            <img
              src="/assets/employees/Fred.jpg"
              class="employee-img mb-3"
              alt="Employee 4"
            />
            <h4 class="employee-name">Fred Woods</h4>
            <p class="employee-title">MN OTR Driver</p>
          </div>
        </div>

        <!-- Row 2 -->
        <div class="row text-center">
          <div class="col-6 col-md-3 mb-4">
            <img
              src="/assets/employees/Jody-Profile-2.jpg"
              class="employee-img mb-3"
              alt="Employee 1"
            />
            <h4 class="employee-name">Jody Youso</h4>
            <p class="employee-title">Payroll/Accounts Receivable</p>
          </div>

          <div class="col-6 col-md-3 mb-4">
            <img
              src="/assets/employees/John.jpg"
              class="employee-img mb-3"
              alt="Employee 2"
            />
            <h4 class="employee-name">John Wenberg</h4>
            <p class="employee-title">Owner</p>
          </div>

          <div class="col-6 col-md-3 mb-4">
            <img
              src="/assets/employees/Leroy.jpg"
              class="employee-img mb-3"
              alt="Employee 4"
            />
            <h4 class="employee-name">Leroy Vacura</h4>
            <p class="employee-title">MN OTR Driver</p>
          </div>

          <div class="col-6 col-md-3 mb-4">
            <img
              src="/assets/employees/Randy.jpg"
              class="employee-img mb-3"
              alt="Employee 3"
            />
            <h4 class="employee-name">Randy Schoberg</h4>
            <p class="employee-title">Local Trailer Spotter</p>
          </div>
        </div>

          <!-- Row 3 -->
          <div class="row text-center">
            <div class="col-6 col-md-3 mb-4">
              <img
                src="/assets/employees/Scott.jpg"
                class="employee-img mb-3"
                alt="Employee 1"
              />
              <h4 class="employee-name">Scott Mann</h4>
              <p class="employee-title">Local Trailer Spotter</p>
            </div>

            <div class="col-6 col-md-3 mb-4">
              <img
                src="/assets/employees/Shawn.jpg"
                class="employee-img mb-3"
                alt="Employee 2"
              />
              <h4 class="employee-name">Shawn Jensen</h4>
              <p class="employee-title">Local Trailer Spotter</p>
            </div>

            <div class="col-6 col-md-3 mb-4">
              <img
                src="/assets/employees/Ted.jpg"
                class="employee-img mb-3"
                alt="Employee 4"
              />
              <h4 class="employee-name">Ted Tupper</h4>
              <p class="employee-title">MN OTR Driver</p>
            </div>

            <div class="col-6 col-md-3 mb-4">
              <img
                src="/assets/employees/Tony.jpg"
                class="employee-img mb-3"
                alt="Employee 3"
              />
              <h4 class="employee-name">Tony Brenning</h4>
              <p class="employee-title">Mechanic</p>
            </div>
          </div>

          <!-- Add more rows as needed -->
        </div>

        <!-- Carousel Section -->

        <div class="container mt-5">
          <div
            id="carouselExample"
            class="carousel slide my-5"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <% carouselImages.forEach((image, index) => { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img
                  src="/assets/carousel/<%= image %>"
                  class="d-block w-100 carousel-image"
                  alt="carousel image"
                />
              </div>
              <% }) %>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Facts Section -->
        <h2 class="fun-facts">FUN FACTS!</h2>

        <div class="truck-container">
          <img id="truck-gif" alt="Truck" />
        </div>

      <!-- Link to the external JavaScript file -->
      <script src="/scripts/facts.js"></script>
      <!-- Correct path for facts.js -->
    </section>

    <!-- Footer -->
    <%- include("partials/footer.ejs") %>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
