<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wenberg Transfer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <main class="container"></main>

    <!-- Header Section -->
<div class="px-2 py-2 text-center header">
  <img
    class="d-block mx-auto mb-4"
    src="/assets/logos/L1-Anniversary-White.png"
    alt="Wenberg Transfer Logo"
    width="25%"
    height="auto"
  />
  <!-- Uncomment the heading content as needed -->
  <!-- <h1 class="display-3 fw-bold text-body-emphasis">Wenberg Transfer</h1>
  <% if(locals.year) { %>
  <h2 class="display-6 fw text-body-emphasis">
    <%= year - 1924 %> Years and Still Trucking
  </h2>
  <% } else { %>
  <h2 class="display-6 fw text-body-emphasis">
    100+ Years and Still Trucking
  </h2>
  <% } %> -->
</div>


    <!-- Carousel Section -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% carouselImages.forEach((image, index) => { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <img src="/assets/carousel/<%= image %>" class="d-block w-100 carousel-image" alt="carousel image">
          </div>
        <% }) %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Important People Section -->
    <div class="container marketing mt-5">
      <div class="row text-center">
        <div class="col-lg-3 important-person">
          <img
            src="/assets/portrait/Sigurd-Profile.jpg"
            class="rounded-circle mb-3"
            alt="Sigurd Wenberg"
            width="140"
            height="140"
            
          />
          <h2 class="name">Sigurd Wenberg</h2>
          <p class="personal-info">Founder and early visionary who started with horses.</p>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-3 important-person">
          <img
            src="/assets/portrait/John-L-Profile-2.jpg"
            class="rounded-circle mb-3"
            alt="John L. Wenberg"
            width="140"
            height="140"
          />
          <h2 class="name">John L. Wenberg</h2>
          <p class="personal-info"></p>>Continued the family business into the modern era.</p>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-3 important-person">
          <img
            src="/assets/portrait/John-S-Profile.jpg"
            class="rounded-circle mb-3"
            alt="John S. Wenberg"
            width="140"
            height="140"
          />
          <h2 class="name">John S. Wenberg</h2>
          <p class="personal-info"></p>>Expanded the business and kept the family legacy alive.</p>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-3 important-person">
          <img
            src="/assets/portrait/Clayton-Profile.jpg"
            class="rounded-circle mb-3"
            alt="Clayton Wenberg"
            width="140"
            height="140"
          />
          <h2 class="name">Clayton Wenberg</h2>
          <p class="personal-info"></p>>Current leader, ensuring the business thrives today.</p>
        </div>
        <!-- /.col-lg-3 -->
      </div>
      <!-- /.row -->

      <!-- Featurettes Section -->
      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading lh-1">Humble Beginnings</h2>
          <p class="lead">Wenberg Transfer was founded in 1924 by Sigurd Wenberg in International Falls, Minnesota. Sigurd originally moved to the area in 1910 and worked at the family grocery store. In 1924, he began his own business, hauling firewood with horses. The company’s office started in Sigurd and his wife Sarah’s home, where it remained until the Wenberg Transfer Warehouse was built in 1972. Sarah played an integral role in the company, handling orders, answering the phone, and managing payroll for the employees. The couple raised five children and was active in the Zion Lutheran Church.</p>          <p class="lead">By the late 1920s, Sigurd had transitioned to early trucks, expanding operations to haul local household goods and eventually delivering mail from the train station, a service the company provided until the late 1960s.</p>
          <p class="lead">The 1930s saw further expansion, with Wenberg Transfer beginning to ship goods out of town. In the 1940s, the company gained the authority to operate across six states, allowing it to offer household moving services alongside its freight operations.</p>
          <p class="lead">Sig retired from Wenberg Transfer in the late 1950’s and passed away in 1962 at the age of 72. </p>
          
        </div>
        <div class="col-md-5">
          <div id="carousel1" class="carousel slide outer-featurette-carousel" data-bs-ride="carousel">
            <div class="carousel-inner featurette-carousel">
              <% carousel1Images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="/assets/feature/featureCarousel1/<%= image %>" class="d-block w-100" alt="Feature image">
                </div>
              <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading lh-1">Mid-Century Growth</h2>
          <p class="lead">In 1938, Sigurd’s son, John L. Wenberg, joined the family business. During the late 1930s and 1940s, he spent his winters hauling pulpwood to Minnesota and Ontario, contracted by the Biondich logging camp. His summers were spent moving household goods between the train and local businesses. Over time, John L. helped expand the company’s operations, transitioning from straight trucks to semi-trucks. In 1941, John L. went to serve in World War II as a truck driver. He was stationed in New Guinea for most of his deployment. During his absence, Sixton Lindberg was hired as the over-the-road truck driver for the company, and Walt Mahle was also hired, delivering mail for nearly three decades. In 1945, John L. returned to Wenberg Transfer to work alongside his father once again.</p>
          <p class="lead">In 1943, while on leave from the war, John L. married Betty Thompson. Betty would later play a significant role in the company, serving as the financial secretary from 1962 to 1986. Throughout her tenure, she managed the company’s finances, supporting the growing business while raising their three children—Jane, Candy, and John. Betty and John L. were also active members of the Zion Lutheran Church, balancing their community involvement with their responsibilities at Wenberg Transfer.</p>
          <p class="lead">From 1946 to 1978, John L. and the company expertly packed and moved countless households from International Falls to places all over their six-state region, driving through all weather conditions for close to a million miles without any accidents. </p>
          <p class="lead">John L. was a respected business owner and employer, partnering with his son, John S., in 1972. Together, they led Wenberg Transfer until John L.’s retirement in 1987, marking 41 years of dedicated service to the company and the community. During this period, impactful employees like Gene Aklestad (1960s-70s) and Howard Hauge (1970s-90s) played a crucial role in helping the company grow.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <div id="carousel2" class="carousel slide outer-featurette-carousel" data-bs-ride="carousel">
            <div class="carousel-inner featurette-carousel">
              <% carousel2Images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="/assets/feature/featureCarousel2/<%= image %>" class="d-block w-100" alt="Feature image">
                </div>
              <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading lh-1">Late-Century Churnin' and Burnin'</h2>
          <p class="lead">The 1970s and 1980s were decades of significant change for Wenberg Transfer. John S. Wenberg, the son of John L, officially joined the business in 1967. During his college breaks and summers, John helped with moving jobs and worked as an over-the-road driver. In 1968, he married Pam Woods, and shortly after, they started their family. Over the years, their children—Jody, Jennifer, and Clayton—accompanied their dad on trips in the "big truck," enjoying time on the road to and from Minneapolis.</p>
          <p class="lead">In 1972, the company built a brand-new warehouse, allowing them to move from the home office at 601 8th Street in International Falls to their current location on Highway 332. This marked a new chapter in the company's growth.</p>
          <p class="lead">Since the late 1960s, Wenberg Transfer had been an agent for Ace Lines, hauling loads of insulite to North Dakota and South Dakota, a partnership that lasted until 1982. In 1974, the company secured a contract to haul paper loads to Minneapolis, further expanding its operations. In 1977, they landed a switching contract with Boise Cascade, which involved spotting trailers into the Boise docks for various trucking companies hauling paper out of International Falls—a contract Wenberg Transfer still holds today.</p>
          <p class="lead">In 1978, after 40 years in the moving business, Wenberg Transfer decided to exit the household goods moving sector. Over those four decades, the company had been an agent for Lyon Lines, Wheaton Lines, and Atlas Van Lines, facilitating countless moves. This decision allowed the company to focus more on three core aspects of its business: paper hauling, trailer switching, and LTL (Less Than Truck Load) hauling.</p>
          <p class="lead">In 1984, disaster struck when an electrical fire engulfed the Wenberg Transfer warehouse, destroying it and its contents. Fortunately, there were no injuries, but the loss was substantial. During this difficult time, Al Shannon of Shannon's Plumbing and Heating kindly offered the use of one of their storage buildings to house Wenberg Transfer's operations while they rebuilt. The new warehouse was completed in 1986 and remains the maintenance and storage hub for the company's trucks to this day.</p>
          <p class="lead">Pam and John S. became sole owners of the company in 1986, upon the retirements of John L. and Betty Wenberg. Pam took over the financial responsibilities of the company, while John focused on managing the hauling and switching contracts. The 1990s saw continued growth as their son, Clayton Wenberg, joined the company in 1991. Clayton began accompanying John on paper hauling trips to Minneapolis and soon learned the trailer switching aspect of the business.</p>
          <p class="lead">Throughout the 1980s and beyond, key employees such as Jim Olson (1970s-2000s), Ron Pautz (1980s-2000s), Roger Frank (1980s-2010s), Ed Kopic (1990s-2000s), and Fred Woods (1980s-present) helped maintain the company’s standard of excellence. These individuals were integral to Wenberg Transfer's operations, ensuring the company’s longevity through their commitment and expertise.</p>
        </div>
        <div class="col-md-5">
          <div id="carousel3" class="carousel slide outer-featurette-carousel" data-bs-ride="carousel">
            <div class="carousel-inner featurette-carousel">
              <% carousel3Images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="/assets/feature/featureCarousel3/<%= image %>" class="d-block w-100" alt="Feature image">
                </div>
              <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading lh-1">Present-Day Persistence</h2>
          <p class="lead">In 1991, the fourth generation, Clayton Wenberg, joined the company, continuing the family legacy. Over the years, Wenberg Transfer has hauled over 400,000 loads of paper and traveled more than 24 million miles, serving major clients like Boise Cascade and PCA. Though the company ceased LTL in 2012, it remains a trusted name in hauling paper products across Minnesota.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <div id="carousel4" class="carousel slide outer-featurette-carousel" data-bs-ride="carousel">
            <div class="carousel-inner featurette-carousel">
              <% carousel4Images.forEach((image, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="/assets/feature/featureCarousel4/<%= image %>" class="d-block w-100" alt="Feature image">
                </div>
              <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />
    </div>

    <!-- Footer -->
    <%- include("partials/footer.ejs") %>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
